<?xml version="1.0"?>
<config>
  <modules>
    <Pmclain_EmailPreview>
      <version>0.0.3</version>
    </Pmclain_EmailPreview>
  </modules>
  <adminhtml>
    <layout>
      <updates>
        <emailpreview>
          <file>pmclain_emailpreview.xml</file>
        </emailpreview>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <helpers>
      <pmclain_emailpreview>
        <class>Pmclain_EmailPreview_Helper</class>
      </pmclain_emailpreview>
    </helpers>
    <blocks>
      <adminhtml>
        <rewrite>
          <system_email_template_preview>Pmclain_EmailPreview_Block_Adminhtml_System_Email_Template_Preview</system_email_template_preview>
        </rewrite>
      </adminhtml>
    </blocks>
    <models>
      <pmclain_emailpreview>
        <class>Pmclain_EmailPreview_Model</class>
      </pmclain_emailpreview>
    </models>
    <events>
      <adminhtml_block_html_before>
        <observers>
          <Event_column_append>
            <type>model</type>
            <class>Pmclain_EmailPreview_Model_Observer</class>
            <method>appendCustomColumn</method>
          </Event_column_append>
        </observers>
      </adminhtml_block_html_before>
    </events>
  </global>
</config>